
<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>


    <ion-row>
      <ion-col size="12">
        <label class="subtitle-txt" style="color: black;">Ingresa tu dirección de correo y llegará un mensaje con la información </label>
      </ion-col>
    </ion-row>


    <br>

    <ion-row>
      <ion-col size="12">

        
        <ion-item>
          <ion-input placeholder="Correo Electrónico" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-button shape="round" (click)="enviarcorreo(name)">Enviar</ion-button>

      </ion-col>
    </ion-row>

    
  </ion-grid>
</ion-content>
