<ion-content>

  <ion-grid>
    <ion-row justify-content-center>
      <div class="container">
        <img src="../../assets/img/LOGO_1.png" class="img-slides" />
      </div>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <h2>Iniciar Sesión</h2>
        </div>
        <br>
        <div padding>
          <ion-item>
            <ion-input type="text" #email placeholder="Correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" #password placeholder="Contraseña"></ion-input>
          </ion-item>
        </div>
        <br>
        <br>
        
        <button class="btn" (click)="onLogin(email, password)">Login</button>
        <button class="btn" [routerLink]="['/registro']">Registrarme</button>
      </ion-col>
    </ion-row>
    
    
  </ion-grid>

</ion-content>