/*================================== MEDIA QUERIES, FOR ONLY DESKTOPS ==============================*/
$height100: 100%;

.red-toast{
    --background:#FF4127;
    --border-radius:1px;
    --color:#fff;
}

.img-slides {
    width: 100%;
    height: 25%;
    display: block;
}

ion-row {
    display: block;
    height: auto;
    padding-bottom: 2%;
    margin-bottom: -15%;
}

ion-grid {
    width:100%;
    height: $height100;
}

h2 {
    display: block;
    padding-top: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #1f2140;
    margin-top: 0px;
    text-align: center;
}

p {
    display: block;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #666991;

}

.btn {
    width: 40%;
    padding: 2px;
    background: black;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 600;
    box-shadow: none;
    display: block;
    margin: 0px auto;
    border-radius: 50px;
    margin-bottom: 1%;
    margin-top: 1%;
    color: #fff;
}

ion-row {
    --bullet-background-active: #000000;

}

/*================================== END MEDIA QUERIES, FOR ONLY DESKTOPS ==============================*/

/*================================== MEDIA QUERIES, FOR ONLY IPHONE, ANDROID, ETC.. ==============================*/
@media only screen and (min-width: 320px) and (max-width: 812px) {

    .red-toast{
        --background:#FF4127;
        --border-radius:1px;
        --color:#fff;
    }

    .img-slides {
        width: 80%;
        height: 10%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    ion-grid {
        width:100%;
        height: $height100;
        background:white;
        margin-top: auto;
        margin-bottom: auto;
    }

    ion-row {
        display: block;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    h2 {
        display: block;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 30px;
        color: #1f2140;
        margin-top: 0px;
    }

    p {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        color: #666991;

    }

    .btn {
        width: 50%;
        padding: 20px;
        background: black;
        font-family: "Poppins";
        font-size: 18px;
        font-weight: 800;
        box-shadow: none;
        display: block;
        margin: 0px auto;
        border-radius: 50px;
        margin-bottom: 15%;
        color: #fff;
    }

    ion-row {
        --bullet-background-active: #000000;

    }
}

/*================================== END MEDIA QUERIES, FOR ONLY IPHONE, ANDROID, ETC ==============================*/

/*================================== MEDIA QUERIES, FOR ONLY TABLETS ==============================*/
@media only screen and (min-width: 768px) and (max-width: 900px) {

    .btn {
        width: 40%;
        font-size: 25px;
    }

    p {
        font-size: 35px;
        padding-left: 40px;
        padding-right: 40px;

    }

    h2 {
        font-size: 60px;

    }

    /*================================== END MEDIA QUERIES, FOR ONLY TABLETS ==============================*/

}