<ion-content>
  
  <ion-grid>
    <ion-row justify-content-center>
      <div class="container">
        <img src="../../assets/img/LOGO_1.png" class="img-slides" />
      </div>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <ion-title>
            <h2>Iniciar Sesión</h2>
          </ion-title>
          
        </div>
        <br>
        <div padding>
          <ion-item>
            <ion-input type="text" id="email"  #email placeholder="Correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" id="password" #password placeholder="Contraseña"></ion-input>
          </ion-item>
        </div>
        <br>
        <br>
        
        <button class="btn" id="signin-button" (click)="onLogin(email, password)">Login</button>
        
        <button class="btn" id="signup-button" (click)="onRegister()">Registrarme</button>
        <p class="error" text-center style="color: red; text-transform: uppercase;">
          {{error_message}}
        </p> 
      </ion-col>
    </ion-row>
    
    
  </ion-grid>

</ion-content>