<!-- ============== CODE MADE WITH @LIRRUMS ================ -->
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <div>
        <br>
        </div>
        <div >
        
          <h1 style="color: black;">Carga Masiva cursos aprobados</h1>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
            <ion-icon name="home" ></ion-icon>
          
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <label class="subtitle-txt" style="color: black;">Sube tu archivo separado por comas de la siguiente forma:</label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <label class="subtitle-txt" style="color: rgb(15, 8, 8);">Código;Etc;Etc;Etc;</label>
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="12">

          <ion-button expand="block" color="success" (click)="inputFile.click()">
            Subir archivo
          </ion-button>
          <input #inputFile id="input-file"  style="opacity:0" type="file" accept="csv" (change)="changeListener($event)"
          multiple/>

      </ion-col>
    </ion-row>

    
  </ion-grid>
</ion-content>
<!-- ============== END CODE MADE WITH @LIRRUMS ================ -->