

<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>Carga Masiva Cursos</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row justify-content-center>
      <div class="bg-class">
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <br>
      <br>
      
      <br>
      <div padding>
        <ion-item>
        <ion-label id="profile_image" color="primary" stacked>Cargar Archivo</ion-label>
    <br>
  </ion-item>
  <ion-item>
     
    <ion-input class="btn" type="file" accept="csv" (change)="changeListener($event)">
      <ion-icon name="search"></ion-icon>

    </ion-input>
  </ion-item>
</div>
</ion-col>
</div>
</ion-row>
</ion-grid>

</ion-content>
