<ion-content>
  <ion-slides pager="true">

    <ion-slide color="dark">
      <div class="container">
        <img src="../../assets/img/LOGO_1.png" class="img-slides" />
      </div>
      <h2>¡Bienvenido a Organízate!</h2>
      <p>En esta app podrás organizarte de mejor manera en el área académica</p>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <img src="../../assets/img/PENSUM_1.png" class="img-slides" />
      </div>
      <h2>¡Control de tu pénsum!</h2>
      <p>Lleva un registro de los cursos que has aprobado, ve los que te faltan y haz un plan</p>
    </ion-slide>

    <ion-slide>
      <div class="container">
        <img src="../../assets/img/HORARIO_1.png" class="img-slides" />
      </div>
      <h2>¡Horario Inteligente!</h2>
      <p>Ten un control de tu horario, con alertas automáticas y recordatorios</p>
      <button class="btn" [routerLink]="['/home']">Continuar</button>
    </ion-slide>

  </ion-slides>
</ion-content>