/* ============== CODE MADE WITH @LIRRUMS ================ */

ion-button {
    width: 60%;
    height: 50%;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    box-shadow: none;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
    margin-bottom: 15%;
    color: rgb(0, 0, 0);
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileInput   label {
    color: #717171;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: .5em 1em;
    border: 1px solid #ccc;
    cursor: pointer;
}

/*ion-input {
    top: 10%;
    margin: 0;
    padding-right: 40%;
    padding-left: 40%;
    font-size: 20px;
    
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/

h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #9e9e9e;
    font-weight: 600;
  }
  ion-label {
    font-weight: 600;
  }
  ion-icon {
    font-size: 30px;
    margin-top: 20px;
    color: #000000;
  }
  
  .color-hello {
    color: #666991;
    text-align: center;
  }
  
  .color-amanda {
    color: #9e9e9e;
  }
  
  .div-name {
    padding: 10px;
    border-radius: 100px;
  }
  
  #div-txt {
    font-family: "Poppins", sans-serif;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 28px !important;
    text-align: justify;
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #fff;
    font-weight: 800;
  }
  
  .icon-one {
    font-size: 20px;
    margin-top: 0px;
    color: #dbdbdd;
    float: right;
  }
  
  #sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  p {
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 18px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .container-one {
    background: url("../../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin-bottom: 2%;
    height: auto;
    padding: 40px;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
  }
  
  .container-two {
    background: linear-gradient(to right, #7e43aa, #6681ea);
    width: 95%;
    margin-bottom: 2%;
    height: auto;
    padding: 3px;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
  }
  
  .container-three {
    background: url("../../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: auto;
    padding: 40px;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
    margin-bottom: 2%;
  }
  
  h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }
  
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #000;
    height: auto;
  }
  
  ion-card-content {
    padding: 0px !important;
  }
  
  ion-card {
    border: none;
  }
  
  .subtitle-txt {
    color: #9e9e9e;
    font-family: "Poppins";
    font-size: 18px;
    padding: 10px;
    display: block;
    text-align: center;
  }
  h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #000;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  h4 {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  
  /* ============== END CODE MADE WITH @LIRRUMS ================ */
  
  /* ============== CODE MADE WITH @LIRRUMS ================ */

ion-button {
    width: 60%;
    height: 50%;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    box-shadow: none;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
    margin-bottom: 15%;
    color: rgb(0, 0, 0);
}

.fileInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileInput   label {
    color: #717171;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    padding: .5em 1em;
    border: 1px solid #ccc;
    cursor: pointer;
}

/*ion-input {
    top: 10%;
    margin: 0;
    padding-right: 40%;
    padding-left: 40%;
    font-size: 20px;
    
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}*/

h1 {
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    color: #9e9e9e;
    font-weight: 600;
  }
  ion-label {
    font-weight: 600;
  }
  ion-icon {
    font-size: 30px;
    margin-top: 20px;
    color: #000000;
  }
  
  .color-hello {
    color: #666991;
    text-align: center;
  }
  
  .color-amanda {
    color: #9e9e9e;
  }
  
  .div-name {
    padding: 10px;
    border-radius: 100px;
  }
  
  #div-txt {
    font-family: "Poppins", sans-serif;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 28px !important;
    text-align: justify;
    padding-left: 0px !important;
    padding-right: 0px !important;
    color: #fff;
    font-weight: 800;
  }
  
  .icon-one {
    font-size: 20px;
    margin-top: 0px;
    color: #dbdbdd;
    float: right;
  }
  
  #sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  
  p {
    font-family: "Poppins", sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 18px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .container-one {
    background: url("../../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin-bottom: 2%;
    height: auto;
    padding: 40px;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
  }
  
  .container-two {
    background: linear-gradient(to right, #7e43aa, #6681ea);
    width: 95%;
    margin-bottom: 2%;
    height: auto;
    padding: 3px;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
  }
  
  .container-three {
    background: url("../../assets/img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: auto;
    padding: 40px;
    display: block;
    margin: 0px auto;
    border-radius: 20px;
    margin-bottom: 2%;
  }
  
  h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
  }
  
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #000;
    height: auto;
  }
  
  ion-card-content {
    padding: 0px !important;
  }
  
  ion-card {
    border: none;
  }
  
  .subtitle-txt {
    color: #9e9e9e;
    font-family: "Poppins";
    font-size: 18px;
    padding: 10px;
    display: block;
    text-align: center;
  }
  h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #000;
    padding-bottom: 20px;
    font-family: "Poppins", sans-serif;
  }
  
  h4 {
    font-family: "Poppins", sans-serif;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 500;
  }

  
  /* ============== END CODE MADE WITH @LIRRUMS ================ */
  
  