<!-- ============== CODE MADE WITH @LIRRUMS ================ -->
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <div>
        <br>
        </div>
        <div >
        
          <h1 style="color: black;">Cursos aprobados</h1>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
            <ion-icon name="home" ></ion-icon>
          
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-card>
   <ion-list>
 
    <button color="primary" ion-item *ngFor="let item of lista">
   <ion-icon name="add-circle"></ion-icon>

  {{item.codigo}} {{" "}}
   {{item.nombre}}
      </button>

   </ion-list>
      </ion-card>

    </ion-row>


    <br>

    
  </ion-grid>
</ion-content>


<!-- ============== END CODE MADE WITH @LIRRUMS ================ -->