<!-- ============== CODE MADE WITH @LIRRUMS ================ -->
<ion-tabs>
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button id="ir-carga-masiva" tab="carga-masiva" >
      <ion-icon name="cloud"></ion-icon>
      Cargar pensum
    </ion-tab-button>

    <ion-tab-button tab="carga-cursos-aprobados">
      <ion-icon name="cloud-upload"></ion-icon>
      Cargar aprobados
    </ion-tab-button>
    <ion-tab-button tab="cursos-aprobados">
      <ion-icon name="checkmark"></ion-icon>
      Administrar aprobados
    </ion-tab-button>
    <ion-tab-button id="ir-perfil" tab="perfil">
      <ion-icon name="person"></ion-icon>
      Mi Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- ============== END CODE MADE WITH @LIRRUMS ================ -->

