<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/notas-personales"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.nota.titulo}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="guardarNota()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-textarea>{{this.nota.contenido}}</ion-textarea>
</ion-content>