<ion-title>
  <h2>Registro</h2>
</ion-title>
<input class="user" type="text" name="correo" #email id="email" placeholder="Correo">
  <!--<ion-input type="text" id="email" #email placeholder="Correo">texto de prueba xd</ion-input>-->

<input class="contra" type="password" name="contraseña" id="password" #password placeholder="Contraseña">

<button class="btn" id="signup-button" (click)="onRegister(email, password)">Registrarme</button>

<button class="btn" id="loginnbutton" (click)="login()">Login</button>
<p text-center style="color: red; text-transform: uppercase;">
  {{error_message}}
</p>