<!-- ============== CODE MADE WITH @LIRRUMS ================ -->
<ion-content scrollX="true" scrollY="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <div>
          <h1>Settings</h1>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="map"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-avatar slot="start">
            <img
              src="https://img.icons8.com/dusk/64/000000/circled-user-female-skin-type-4.png"
            />
          </ion-avatar>
          <ion-label>Amanda Jacobs<br />UI/Designer - UX/Designer</ion-label>
          <ion-label
            ><ion-icon name="checkbox-outline" class="icon-one"></ion-icon
          ></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2 class="color-hello">
          Your Settings, <span class="color-amanda">Amanda!</span>
        </h2>
        <label class="subtitle-txt">This is your workspace!</label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-avatar slot="start">
            <img
              src="https://img.icons8.com/bubbles/50/000000/writer-female.png"
            />
          </ion-avatar>
          <ion-label>Taylor Jacobs<br />Administration- Marketing</ion-label>
          <ion-label
            ><ion-icon name="checkbox-outline" class="icon-one"></ion-icon
          ></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-avatar slot="start">
            <img src="https://img.icons8.com/bubbles/50/000000/user.png" />
          </ion-avatar>
          <ion-label
            >Justin Jacobs<br />Sales Marketing - UX/Designer</ion-label
          >
          <ion-label
            ><ion-icon name="checkbox-outline" class="icon-one"></ion-icon
          ></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-avatar slot="start">
            <img
              src="https://img.icons8.com/bubbles/50/000000/writer-female.png"
            />
          </ion-avatar>
          <ion-label>Taylor Jacobs<br />Administration- Marketing</ion-label>
          <ion-label
            ><ion-icon name="checkbox-outline" class="icon-one"></ion-icon
          ></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-avatar slot="start">
            <img src="https://img.icons8.com/bubbles/50/000000/user.png" />
          </ion-avatar>
          <ion-label
            >Justin Jacobs<br />Sales Marketing - UX/Designer</ion-label
          >
          <ion-label
            ><ion-icon name="checkbox-outline" class="icon-one"></ion-icon
          ></ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <div class="div-card">
            <img src="../../assets/img/madison.jpg" />
          </div>
          <ion-card-content>
            <h4>DESTINATION</h4>
            <h2>Madison, WI</h2>
            <p>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </p>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <div class="div-card">
            <img src="../../assets/img/madison.jpg" />
          </div>
          <ion-card-content>
            <h4>DESTINATION</h4>
            <h2>Madison, WI</h2>
            <p>
              Keep close to Nature's heart... and break clear away, once in
              awhile, and climb a mountain or spend a week in the woods. Wash
              your spirit clean.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- ============== END CODE MADE WITH @LIRRUMS ================ -->
