<!-- ============== CODE MADE WITH @LIRRUMS ================ -->
<ion-content scrollX="true" scrollY="true" color="light">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <div>
          <h1>Mi Perfil</h1>
        </div>
      </ion-col>
      <ion-col size="2">
        <div>
          <ion-icon name="person"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <h2 class="color-hello">
          Tu perfil personal, <span class="color-amanda">Ronald!</span>
        </h2>
        <label class="subtitle-txt">Estas son tus datos actuales!</label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-label>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]='user.displayName' placeholder="Nombre"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-label >Correo</ion-label>
          <ion-input type="text" [(ngModel)]='user.email' placeholder="Correo"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="medium" class="div-name">
          <ion-label>Contraseña</ion-label>
          <ion-input placeholder="placeholder" type="password" aria-readonly="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="checkdata()">Guardar cambios</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>

